<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Perfil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	
	<style>
		.enlaceCompras{
     color: grey;
      text-decoration: none;
      border-color: green;
      border-style: solid;
      padding: 0.2em;                                       /* Estilos para los enlaces que hay debajo de cada producto */  
      border-radius: 0.4em;
      background-color: lightgreen;
}
.enlaceCompras:hover{
    background-color: darkgreen;
}

	#bloque{
		float:left;
		margin:4em;
	}
	.card{
		margin:0.5em;
		float:left;
		padding:0.5em;
	}
	h5{
	padding: 0.5em;}
	</style>

</head>

<body>
   <nav th:replace="fragments/header_loader"></nav>
 
  <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="/images/descarga.png" alt="Card image cap" width="70" height="300">
  <div class="card-body">
    <h5 class="card-title"><span th:text=" 'Nombre: ' + ${usuario.nombre}"></span> </h5>
    <p class="card-text"><span th:text="'Apellidos: ' + ${usuario.apellidos}"></span></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span th:text="'Nombre de Usuario: ' + ${usuario.username}"></span></li>
    <li class="list-group-item"><span th:text=" 'Email: ' + ${usuario.email}"></span></li>
    <li class="list-group-item"><span th:text="'Fecha de Nacimiento: ' + ${usuario.fechaNac}"></span></li>
  </ul>
 
</div>

<div id="bloque">
	<h5>Consulte sus Compras</h5>
	<a class="enlaceCompras"
		th:href="@{/compra/misCompras}" 
		>Mis Compras</a>
</div>

</body>
</html>