<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>
	<nav th:replace="fragments/header_loader"></nav>
  <h4 class="display-1">Carrito de la compra</h4>

	
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Precio</th>
				<th scope="col">Cantidad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${carrito 
			!= null && carrito.empty}">
				<td colspan="2">No hay productos en el carrito</td>
			</tr>
			<tr th:each="itc : ${carrito}">
				<td><span th:text="${itc.nombreProducto}"> Nombre </span></td>
				<td><span th:text="${itc.precio}">
						Precio </span></td>
				<td><span th:text="${itc.cantidad}">
				Cantidad </span></td>
				<td><a 
 					th:href="@{/compra/eliminarProductoCarro/{id}(id=${itc.idProducto})}" 
 					class="btn btn-primary">Borrar</a></td> 
 				<td></td> 
 			</tr> 
		</tbody>
		<div><a 
 					th:href="@{/compra/finalizarCompra}" 
 					class="btn btn-primary">Comprar</a></div>
		
</body>
</html>