<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Perfil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	

	<style>
		#titulo{
		text-align: center;
		        	color: darkblue;
		
		}
		#preguntas{
		float: left;
		margin: 0.5em;
		padding: 0.5em;
		}
		
		.card{
		float: left;
		overflow: hidden;
		margin: 0.5em;
		padding: 0.5em;
		}
		
		#publicarPregunta{
		clear: left;
		}
		#textoPregunta{
		margin: 0.5em;}
		
		.lista{
		padding:0.5em;
		margin: 0.5em;}
		
		.botRespuesta{
			background-color: red;
			border-style: none;
			border-radius: 0.5em;
			padding:0.5em;
			margin: 0.5em;
			color: white;
		}
		#tabla{
			margin: 1em;
		}
	</style>


</head>

<body>
	<h1 id="titulo" th:text="${producto.nombreProducto}"></h1>

	<nav th:replace="fragments/header_loader"></nav>
  
 
  <div class="card" style="width: 18rem;">
  	<div th:if="${producto.imagen == null}">
  		<img class="card-img-top" src="/images/caja.jpg" alt="Card image cap" width="100" height="250">
  	</div>
  	<div  th:if="${producto.imagen != null}">
		<label> <img
			th:src="@{/imagenes/{id}(id=${producto.imagen.id})}"
			width="150" height="150" />
		</label> 
					
	</div>
		<div sec:authorize="hasAuthority('ROL_ADMIN')">
  	
	  	<form th:action="@{/imagenes/cargar/{idProducto}(idProducto=${producto.idProducto})}"
			method="POST" enctype="multipart/form-data">
			<input name="file"  type="file" />
				<input type="submit" value="Actualizar imagen"/>
			
		</form>
		
		
  	
  	</div>
  	
	 
  <div class="card-body">
	    <h5 class="card-title"><span th:text="'Nombre: '+${producto.nombreProducto}"></span> </h5>
	    <p class="card-text"><span th:text="'Descripcion: '+${producto.descripcionProducto}"></span></p>
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item"><span th:text="'Precio: '+${producto.precioProducto} + '$'"></span></li>
	   
	    <li class="list-group-item"><span th:text="'Descuento: '+${producto.descuentoProducto}+ '$'"></span></li>
	  </ul>
	  <div class="card-body">
	  	<p th:if="${#authorization.expression('hasAuthority(''ROL_ADMIN'')')}">
	    <a th:href="@{'/producto/borrar/{idProducto}'(idProducto=${producto.idProducto})}"
										class="btn btn-danger" ><i class="fas fa-trash">Borrar Producto</i></a>
		</p>
			
		<p th:if="${#authorization.expression('hasAuthority(''ROL_ADMIN'') OR hasAuthority(''ROL_USUARIO'')')}">							
		<a th:href="@{'/producto/agregarProducto/{idProducto}'(idProducto=${producto.idProducto})}"
										class="btn btn-danger" >Añadir al Carrito</a>
		</p>
	    
	  </div>
	</div>


	<div id="preguntas" th:if="${#authorization.expression('hasAuthority(''ROL_ADMIN'') OR hasAuthority(''ROL_USUARIO'')')}">
		
	
			<label for="pregunta">Pregunte aquí</label>
			
			<textarea 	name="pregunta" id="textoPregunta" placeholder="Escriba su Pregunta sobre el producto"></textarea>
			</br>
			<textarea 	name="idProducto" id="idProducto" th:text="${producto.idProducto}" style="display: none;"></textarea>
			</br> 
			<button type="button" id="publicarPregunta">Publicar Pregunta</button>
		
		<div id="preguntaError"></div>
	</div>

	<table id="tabla" class="table table-bordered"  width="100%" style="width: 40%;">
							 
		<thead>
			<tr>
				<th>Usuarios</th>
				<th>Preguntas</th>
				<th>Fecha de publicacion</th>
				<th>Opciones</th>
				<th>Respuestas</th>
				
			</tr>
		</thead>
	

		<tbody id="tablaPreguntas">
			<tr th:id="${pregunta.idPregunta}" th:each="pregunta : ${producto.preguntas}" class="tr_padre">
				<td th:text="${pregunta.usuario.nombre}"></td>
				<td th:text="${pregunta.textoPregunta}"></td>
				<!--  <td th:id="${pregunta.idPregunta}" style="display: none;"></td>-->
				<td th:text="${pregunta.fechaPregunta}"></td>
				
				<td >
							<button type="button" id="botonResponder" class="btn btn-primary">Responder</button>
							<div  style="display:none;">
								<textarea id="textoRespuesta" name="textoRespuesta"
									></textarea>
								<button type="button" id="botonRespuesta"
									class="btn btn-primary" th:value="${pregunta.idPregunta}">
									Aceptar</button>
							</div>
							<div th:if="${session.idUsuario == pregunta.usuario.idUsuario or #authorization.expression('hasAuthority(''ROL_ADMIN'')')}">
								<button type="button" id="borraPregunta" class="btn btn-danger"
									 th:value="${pregunta.idPregunta}">
									Borrar
								</button>
							</div>
				</td>
				<td th:id="'Respuesta' + ${pregunta.idPregunta}">
					
					<ul>
						<li class="lista">
							<span>Usuario</span>
							<span>Respuesta</span>
							<span>Fecha</span>
							<span>Opciones</span>
						</li>
					</ul>
					<ul th:each="respuesta : ${pregunta.respuestas}">
						<li class="lista"><span th:text="${respuesta.usuario.nombre}"></span>
							<span th:id="'textoRespuesta' + ${respuesta.idRespuesta}" th:text="${respuesta.textoRespuesta}"></span>
							<span th:text="${respuesta.fechaRespuesta}"></span>
							<span th:if="${session.idUsuario == respuesta.usuario.idUsuario or #authorization.expression('hasAuthority(''ROL_ADMIN'')')}">
								
									<button type="button" class="botRespuesta" id="borraRespuesta" th:value="${respuesta.idRespuesta}">Borrar </button>
									<button type="button" id="botonParaEditar" class="btn btn-primary">Editar</button>
									<span style="display: none;">
										 <textarea id="textoEditarRespuesta" name="textoEditarRespuesta" class="form-control"></textarea>
														
										<button type="button" id="confirmarEdicion" class="btn btn-primary" th:value="${respuesta.idRespuesta}">Aceptar</button>	
									</span>
							</span>
							
						</li>
					</ul>
					
				
				</td>
				
				
			</tr>
		</tbody>
	</table>
	


</body>
</html>