<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Perfil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
  
 
  <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="/images/caja.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><span th:text="${producto.nombreProducto}"></span> </h5>
    <p class="card-text"><span th:text="${producto.descripcionProducto}"></span></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span th:text="${producto.precioProducto}"></span></li>
    <li class="list-group-item"><span th:text="${producto.descripcionProducto}"></span></li>
    <li class="list-group-item"><span th:text="${producto.idProducto}"></span></li>
  </ul>
  <div class="card-body">
    <a th:href="@{'/producto/borrar/{idProducto}'(idProducto=${producto.idProducto})}"
									class="btn btn-danger"><i class="fas fa-trash"></a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
</body>
</html>